{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<h1 class="hero-title noslider">
    <span class="breakline">&nbsp;&nbsp;</span>
    <span class="breakline" style="width: 800px; text-align: center; margin: 0px auto;">{{ username }}</span>
</h1>
<br>

{% if is_private %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sorry, this user is private.
    <a href={{ url_for('welcome') }}>Go back.</a>

{% elif photo_count == 0 %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This user has no photos.
    <a href={{ url_for('welcome') }}>Go back.</a>

{% elif photo_count <= 10 %}
    {% for photo_url in first12[0:10] %}
        {{ macros.display_thumbnail(photo_url) }}
    {% endfor %}

{%elif photo_count > 10 %}
    {% for photo_url in first12[0:9] %}
        {{ macros.display_thumbnail(photo_url) }}
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    And {{ formatted_photo_count_minus_9 }} more!

{% endif %}

{% if photo_count and not is_private %}

<br>
<br>
<br>
Download your photos by submitting your email address below!<br>
We will send you a download link when they are ready.
<br>
<br>
<div class="form-group">
        <label for="email">Email address</label>
        <input style="width: 250px" type="text" class="form-control" id="email" name="email" placeholder="Email address" required>
</div>
<form role="form" method="POST">
    <button type="submit" class="btn btn-default">Download your photos!</button>
</form>
<br><br><br>

{% endif %}

{% endblock %}
