{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<h1 class="hero-title noslider">
    <span class="breakline">&nbsp;&nbsp;</span>
    <span class="breakline" style="width: 800px; text-align: center; margin: 0px auto;">{{ username }}</span>
</h1>
<br>

{% for photo_url in first12 %}
{{ macros.display_thumbnail(photo_url) }}
{% endfor %}

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And {{ photo_count - 9 }} more photos!
<br>
<br>
<br>
Download your photos by submitting your email address below!<br>
We will send you a download link within 10 minutes.
<br>
<br>
<div class="form-group">
        <label for="email">Email address</label>
        <input style="width: 250px" type="text" class="form-control" id="email" name="email" placeholder="Email address" required>
</div>
<form role="form" method="POST">
    <button type="submit" class="btn btn-default">Download your photos!</button>
</form>
<br><br><br>
{% endblock %}
